<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<div id="errors">
	<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= f.collection_select :category_id, Category.all, :id, :name %><br>
<%= f.label :title %><br>
<%= f.text_field :title %><br>
<br>
<%= f.label :body %><br>
<%= f.text_field :body %><br>
<!-- ERICA: Using text_area instead would make the text flow more naturally here -->
<br>
<%= f.submit %>
<% end %>
