  <!DOCTYPE html>
  <html>
  <head>
    <title>Project2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
  <div id ="main_content">
    <div id="header">
      <button class="button"><%= link_to "All Post", posts_path %></button>
      <% if current_user %>
      <button class="buttons"><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
    <% else %>
      <button class="buttons"><%= link_to 'Signup', new_user_registration_path %></button>
      <button><%= link_to 'Login', new_user_session_path %></button>
    <% end %>
    </div>
  </div>
  <%= yield %>
  </body>
  </html>
